---
import "../global.css";
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="refresh"
      content="0;url=https://toro.cnvt.link/cardapio-toro.pdf"
    />
    <title>Redirecionando...</title>
    <script>
      window.location.href = "https://toro.cnvt.link/cardapio-toro.pdf";
    </script>
  </head>
  <body>
    <div class="min-h-screen bg-toro-3 text-toro-1 grid place-content-center">
      <div class="text-center font-semibold tracking-tighter">
        <div class="text-3xl">Redirecionando para o nosso Cardápio</div>
        <a
          class="underline text-toro-2"
          href="https://toro.cnvt.link/cardapio-toro.pdf"
          >Clique aqui se não for redirecionado.</a
        >
      </div>
    </div>
  </body>
</html>
