---
import "../global.css";
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="refresh"
      content="0;url=https://www.ifood.com.br/delivery/sobral-ce/toro-burger-centro"
    />
    <title>Redirecionando...</title>
    <script>
      window.location.href =
        "https://www.ifood.com.br/delivery/sobral-ce/toro-burger-centro";
    </script>
  </head>
  <body>
    <div class="min-h-screen bg-toro-3 text-toro-1 grid place-content-center">
      <div class="text-center font-semibold tracking-tighter">
        <div class="text-3xl">Redirecionando para o nosso Cardápio</div>
        <a
          class="underline text-toro-2"
          href="https://www.ifood.com.br/delivery/sobral-ce/toro-burger-centro"
          >Clique aqui se não for redirecionado.</a
        >
      </div>
    </div>
  </body>
</html>
