---
import "../global.css";
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=https://wa.me/5588993425341" />
    <title>Redirecionando...</title>
    <script>
      window.location.href = "https://wa.me/5588993425341";
    </script>
  </head>
  <body>
    <div class="min-h-screen bg-toro-3 text-toro-1 grid place-content-center">
      <div class="text-center font-semibold tracking-tighter">
        <div class="text-3xl">Redirecionando para o nosso WhatsApp</div>
        <a class="underline text-toro-2" href="https://wa.me/5588993425341"
          >Clique aqui se não for redirecionado.</a
        >
      </div>
    </div>
  </body>
</html>
