---
import { cn } from "../utils";
const { classes, text, link, layer, rotate } = Astro.props;
---

{
  link ? (
    <a
      class={cn(classes, "anim")}
      href={link}
      data-layer={layer}
      style={`transform: ${rotate || "rotate(0deg)"}`}
    >
      {text}
    </a>
  ) : (
    <div
      class={cn(classes, "anim")}
      data-layer={layer}
      style={`transform: ${rotate || "rotate(0deg)"}`}
    >
      {text || ""}
    </div>
  )
}
