@import "tailwindcss";

@theme {
  --color-toro-1: oklch(0.6 0.22 30);
  --color-toro-2: oklch(0.2 0 20);
  --color-toro-3: oklch(0.95 0.02 80);
  --color-toro-4: oklch(0.35 0.2 170);
  --color-toro-5: oklch(0.25 0.07 20);
  --color-toro-6: oklch(0.7 0.18 60);
}

.links a{
  @apply hover:opacity-90 text-white font-semibold tracking-tighter p-4 hover:scale-[1.1];
} 